extends layout 
block content 

   h1  #{Registro} 
    form(action="/registro", method="POST")
      label(for="nombre") Nombre:
      input(type="text", id="nombre", name="nombre", required)

      label(for="email") Email:
      input(type="email", id="email", name="email", required)

      button(type="submit") Enviar
      