doctype html
html(lang="es")
  head
    title Formulario
  body
    form(action="/layout", method="POST")
     label(for="nombre") Nombre:
      input(type="text", id="nombre", name="nombre")
      br
     label(for="email") Email:
      input(type="email", id="email", name="email")
      br
     label(for="mensaje") Mensaje:
      textarea(id="mensaje", name="mensaje")
      br
      button(type="submit") Enviar